GOOGLE_API_KEY=coloque_sua_api_key_aqui

PDF_PATH=document.pdf
POSTGRES_CONNECTION=postgresql+psycopg://postgres:postgres@localhost:5432/postgres
PGVECTOR_COLLECTION=documents

GEMINI_EMBEDDING_MODEL=models/gemini-embedding-001
GEMINI_CHAT_MODEL=gemini-2.5-flash-lite
EMBEDDING_BATCH_SIZE=10
EMBEDDING_BATCH_SLEEP_SECONDS=65
